:root {
    --placeholder-color: rgba(0,0,0, 0.6);
    --drodown-item-width: 40px;
}

html {
    box-sizing: border-box;
    height: 100%;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
    background: linear-gradient(rgb(109, 191, 226), rgb(108, 193, 226),rgb(33, 62, 73));
}

#loading-circle-wrapper{
    position:absolute;
    left: 0;
    right: 0;
    margin: auto;
    display: block;
    width: fit-content;
    top: 50%;
}

#loading-circle {
    background-image: url('./images/loading-circle.svg');
    background-size: cover;
    width: 60px;
    height: 60px;
    animation: spin .4s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}  

#title-wrapper {
    position: relative;
    margin: 0 auto;
    margin-bottom: -80px;
    display: flex;
    height: 500px;
    width: 500px;
    background: url('./images/sun.svg');
    background-size: cover;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: 1.6em;
    color: #2a6dff;
}



#clouds {
    bottom: -85px;
    position: fixed;
    height: 280px;
    width: 100%;
    background: url('./images/cloud.svg');
    background-size: cover;
    z-index: -1;
}

.search-form-wrapper {
    display: block;
    height: fit-content;
    padding-bottom: 20px;
    position: absolute;
}

#location-search {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 10px;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    background-color: rgba(255, 255, 255, 0.5);
    width: 350px;
    height: 30px;
    border: none;
    border-radius: 15px;
    padding-left: 20px;
    color: rgb(0, 0, 0);
    z-index: 1;
}

#location-search::placeholder {
    color: var(--placeholder-color);
}

#location-search:focus::placeholder {
    color: rgba(255, 255, 255, 0);
  }

#location-search::-webkit-search-cancel-button {
    display: none;
}

#location-search:focus {
    outline: none;
}

#search-button {
    position: absolute;
    left: calc(50% + 155px);
    transform: translateX(-50%);
    margin-top: 14px;
    background-color: rgba(255, 255, 255, 0);
    background-image: url('./images/search-icon.png');
    height: 20px;
    width: 20px;
    background-size: cover;
    border: none;
    z-index: 2;
}

#search-button:hover {
    cursor: pointer;
}

.dropdown {
    position: absolute;
    left: 0;
    right: 0;
    display: block;
    width: 350px;
    margin: auto;
    list-style-type: none;
    background-color: rgba(255, 255, 255, 0.677);
    backdrop-filter: blur(4px);
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: 18px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    z-index: 5;
}

.dropdown-item {
    width: calc(320px);
    padding-left: 5px;
    border-bottom: 1px solid black;
    margin: 0 auto;
    padding: 5px 0;
}

.dropdown-item:hover {
    background: rgba(0, 0, 0, 0.098);
    box-shadow: 15px 0 0 0 rgba(0, 0, 0, 0.098), -15px 0 0 0 rgba(0, 0, 0, 0.098);

    cursor: pointer;
}

.dropdown-item:active {
    background: rgba(0, 0, 0, 0.157);
    box-shadow: 10px 0 0 0 rgba(0, 0, 0, 0.157), -10px 0 0 0 rgba(0, 0, 0, 0.157);
}

.dropdown-item:last-child {
    border-bottom: none;
}

.dropdown-load-wrapper {
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    left: 0;
    right: 0;
    margin: auto;
    padding-top: 30px;
    width: 350px;
    height: 103.5px;
    background-color: rgba(255, 255, 255, 0.677);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    z-index: 4;
}

#dropdown-load {
    width: 25px;
    height: 25px;
    animation: spin .4s linear infinite;
}

.bodyWrap {
    position: relative;
    display: block;
    margin: 0 auto;
    margin-top: 10px;
    background: rgba(255, 255, 255, 0.156);
    backdrop-filter: blur(4px);
    width: 600px;
    border-radius: 30px;
    padding-bottom: 5px;
    z-index: 2;
    height: calc(100% - 90px);
}

#locationWrap {
    width: 100%;
    text-align: center
}

.location {
    margin-bottom: 10px;
    display: inline-block;
    text-align: center;
    padding: 10px;
    border-radius: 100px;
    font-size: 2em;
    color: white;
    font-family: 'Edu NSW ACT Foundation', cursive;
}

.art-wrapper {
    display: flex;
    width: 125px;
    height: 125px;
    margin: 0 auto;
    background-color: white;
    border-radius: 100px;
    justify-content: center;
    align-items: center;
}

#art {
    width: 85px;
    height: 85px;
}

.temperature-wrapper {
    text-align: center;
    font-size: 2em;
    font-family: 'Edu NSW ACT Foundation', sans-serif;
    font-display: swap;
    color: #ffae00;
}


.weather-type-wrapper {
    text-align: center;
    padding: 10px;
}

#weatherType {
    color: white;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 100;
    font-size: 1.6em;
}

#hr {
    color: white;
    margin: 0 auto;
    height: 3px;
}

.info-wrapper {
    width: 100%;
    margin-bottom: 10px;
}

.info-table {
    margin: 0 auto;
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    width: 272px;
    height: 300px;
}

td {
    width: 90px;
    height: 50px;
    color: rgb(98, 98, 98);
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size:20px;
}

.query {
    font-weight: 600;
    padding-left: 30px;
    width: 150px;
}

.data {
    color: #ffae00;
}

.footer-div {
    display: flex;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 30px;
    background-color: white;
    justify-content: center;
    align-items: center;
    font-family: Arial;
}