html {
    box-sizing: border-box;
    height: 100%;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(rgb(109, 191, 226), rgb(108, 193, 226),rgb(33, 62, 73));
}

.location {
    width: 100%;
    text-align: center;
    padding-top: 80px;
    padding-bottom: 40px;
    font-size: 2em;
    color: white;
    font-family: 'Amatic SC', cursive;
}

.art-wrapper {
    display: flex;
    width: 125px;
    height: 125px;
    margin: 0 auto;
    background-color: white;
    border-radius: 100px;
    justify-content: center;
    align-items: center;
}

#art {
    width: 85px;
    height: 85px;
}

.temperature-wrapper {
    text-align: center;
    font-size: 2em;
    font-family: 'Edu NSW ACT Foundation', cursive;
    color: #ffae00;
}


.weather-type-wrapper {
    text-align: center;
    padding: 20px;
    padding-bottom: 40px;
}

#weatherType {
    color: white;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 100;
    font-size: 1.6em;
}

#hr {
    color: white;
    background-color: white;
    width: 600px;
    margin: 0 auto;
    height: 3px;
}

.info-wrapper {
    margin-top: 30px;
}

.info-table {
    margin: 0 auto;
}

td {
    width: 60px;
    height: 50px;
    color: white;
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size:20px;
}

.query {
    font-weight: 600;
    font-style: italic;
}

.data {
    color: #ffae00;
}